body {
  font-family: 'MaisonNeue', sans-serif;
}

h1{
  text-align: center;
  font-size: 34px;
  line-height: 40px;
  font-weight: bold;
  padding-top: 36px;
}

p{
  padding: 36px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100px;
    background-color: #ffffff;
    height: 100px;
    padding: 0 36px;
}

.progressBarContainer{
  background-color: #ffffff;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.progressBar{
  display: flex;
  justify-content: space-between;
}

.progressBarSingle{
  background-color: #F4F2F2;
  height: 4px;
  width: calc(100% / 3 - 4px);
}

.progressBarLabel{
  padding-top: 4px;
  font-size: 14px;
  line-height: 20px;
}

.first{
  border-radius: 4px 0 0 4px;
  background-color: #FF3D65;
}

.second{

}

.third{
  border-radius: 0 4px 4px 0;
}

.contentWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: calc(100vh - 128px);

}

.content{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
}

.logo{
  background-image: url(../assets/images/buxZeroLogo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 29px;
  width: 94px;
}

.imageOrders{
  background-image: url(../assets/images/illustrations/orders.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 160px;
  width: auto;
  background-color: #ffffff;
}

.dropdownHeader{
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  text-decoration: underline;
}

.smallColumn{
  width: 100%;
  text-align: center;
  max-width: 400px;
}

button{
  height: 48px;
  width: 50%;
  padding: 16px 48px;
  background-color: #FF3D65;
  font-size: 16px;
  color: #ffffff;
  border-radius: 48px;
  border: 0px;
}

@media only screen and (max-width: 600px) {
  .progressBarContainer{
    margin: 24px 24px 0 24px;
  }
  .contentWrapper {
    margin: 0 24px;
    height: 100%;
    padding-top: 36px;
  }
  .header{
    display: none;
  }

}
